.wrapper{
    display: block;
    height: 100%;
    width: 100%;
}
.main-head{
     color: #fff;
     padding: 10px;
}
.display-task-lap{
    margin-bottom: 30px;

}
.time-head{
    color: black;
}
.details{
    border: none;
}
.filter-btn{
    margin: 10px;
    display: block;
    background-color: #fff;
    width: fit-content;
}
.filter-btn button{
    border: none;
    padding: 10px 7px;
    font-weight: 500;
    background: transparent;
}
.graph{
    position: relative;
     height: 50vh; 
     width: 100%;
}
.display-task-pending{
    display:block;
}
.display-task-completed{
    display: block;
}
.time-list{
    display: block;
}
/* .graph{
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    margin-left: 20px;
    padding-bottom: 10px;
} */

.col{
    /* background-color: aqua; */
    /* border: 1px solid gray; */
    height: 15px;
    display: grid;
    grid-template-columns: repeat(7,1fr);

}
.y-axis{
    /* background-color: aqua; */
    display: grid;
    width: 15px;
    height: 25px;
    position: absolute;
    left: -20px;
}
.row-graph{
    background-color:red;
    background-color: rgb(69, 92, 92);
    border: 1px solid black;
    height: 25px;
    width: 25px;
    display: grid; 
    grid-auto-flow: row;
}

@media screen and (min-width:1024px) {
    .wrapper {
        display:grid;
        background-color: rgb(69, 92, 92);
        /* background-image: linear-gradient(to right top, #c4d0e1, #9aa7ba, #718094, #4a5b70, #24394e); */
        grid-template-columns: 18% 78%;
        grid-auto-flow: column;
        gap: 20px;
    }
    .display-task-pending{
        display:none;
    }
    .display-task-completed{
        display: none;
    }
}